@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

body {
    font-family: 'Titillium Web', regular;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 3.5rem;
    padding-left: 0.5rem;
}

.navbar-expand-lg .navbar-collapse {
    align-items: center !important;
}

.navbar-brand {
    width: 212px;
    height: 46px;
}

.Navbar-Section {
    position: fixed;
    top: 0;
    background: #1F1F1F;
    width: 100%;
    z-index: 99999;
    box-shadow: 0 3px 5px -3px #e9e4e4;
}

.nav-item {
    opacity: 1;
    font-size: 18px;
    color: #BCBCBC;
}

.navbar-light .navbar-nav .nav-link {
    color: #BCBCBC !important;
    font-weight: 600;
}

.download_keeper_btn {
    background-color: #52D1DC;
    color: #fff;
    border-radius: 10px;
    width: 166px;
    height: 50px;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto;
    justify-content: center;
}

.main_heading {
    line-height: 60px;
    font-weight: 600;
}

.section_seocond {
    /* position: relative; */
    background: transparent linear-gradient(118deg, #52D1DC 0%, #369CC1 54%, #31A4B7 100%) 0% 0% no-repeat padding-box;
    height: 45em;
}

.For_picture {
    height: 100%;
    background: transparent url('./assests/bluetoothIcon.png') 0% 100% no-repeat padding-box;
    /* background-size: contain; */
    /* min-height: 100vh; */
    min-height: 70vh;
    background-size: 500px;
}

/* .leftKeeprPic {} */

.Main_Content {
    /* padding-top: 128px; */
    /* padding-left: 50px; */
    color: #fff;
    font-size: 57px;
}

.Main_Content p {
    margin-top: 20px;
    font-size: 19px;
}

.download_app_btn {
    padding-top: 30px;
    padding-bottom: 37px;
}

.download_app_btn a {
    background-color: #fff;
    color: #000;
    font-weight: 500;
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
}

.About_seocond {
    padding-top: 80px;
    /* padding-left: 30px; */
    /* padding-right: 30px; */
}

.rightMobileIcon img {
    padding-top: 115px;
    width: 100%;
    /* height: 100%; */
    object-fit: contain;
    /* padding-bottom: 60px; */
}

.About_Main_Content {
    color: #1F1F39 !important;
    /* padding-right: 340px; */
    color: #fff;
    font-size: 40px;
    font-weight: 600;
}

.About_Main_Content p {
    margin-top: 20px;
    font-size: 19px;
    color: #404040 !important;
    font-weight: 500;
}

.rightMobileIcon2 img {
    width: 100%;
    /* height: 100%; */
    object-fit: contain;
    padding: 0px 70px 0px 0px;
    margin: auto;
}

.download_app_btn_About a {
    background-color: #52D1DC;
    color: #fff;
    border-radius: 10px;
    width: 196px;
    height: 50px;
    font-size: 18px;
    line-height: 35px;
    font-weight: bold;
}

#leftKeeprPic {
    display: flex;
    align-items: center;
}

.About_Content {
    font-weight: 600;
    font-size: 30px;
    color: #31A4B7;
}

.About_Main_Content span {
    line-height: 55px;
    font-weight: 700;
    font-size: 50px;
}

.step_section_row {
    /* background: transparent url('./assests/keepr.png') 100% 0% no-repeat padding-box; */
    background: transparent linear-gradient(101deg, #52D1DC 0%, #31A4B7 100%) 0% 0% no-repeat;
    /* padding-top: 120px; */
    justify-content: center;
    border-radius: 20px;
    /* padding: 45px; */
}

.step_section {
    justify-content: center;
    border-radius: 20px;
    padding: 70px 30px;
    /* height: 260px; */
    /* background: transparent linear-gradient(101deg, #4482DE 0%, #31A4B7 100%) 0% 0% no-repeat padding-box; */
    background: transparent url('./assests/keepr.png') 100% 100% no-repeat padding-box;

}

.section_three {
    background: transparent url('./assests/Mask\ Group\ 47.png') 100% 100% no-repeat padding-box;
}

.steps {
    display: flex;
    /* align-items: center; */
    color: #fff;
    /* flex-wrap: wrap; */
}

.step-circle {
    /* width: 16%; */
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    align-items: center;
    text-align: center;
    line-height: 37px;
    color: #fff;
    font-size: 25px;
    border-radius: 50%;
    padding: 0;
}

.Steps_Content {
    color: #fff;
    font-size: 16px;
    /* margin-left: 10px; */
    /* width: 84%; */
    display: flex;
    align-items: center;
}

.arrow-icon {
    /* margin-left: 60px; */
    align-items: center;
    display: flex;
}

.Unlock_Next_Level {
    font-size: 48px;
    font-weight: 600;
    padding-top: 100px;
    text-align: center;
}

.desc-1 h5,
.desc-2 h5,
.desc-3 h5,
.desc-4 h5 {
    font-weight: 600;
}

.Four_Section {
    background: transparent url('./assests/Mask Group 48.png') 0% 65% no-repeat padding-box;
}

.buy_now_btn:hover {
    color: #fff !important;
}

.download_app_btn_About a:hover {
    color: #fff !important;
}

.download_keeper_btn:hover {
    color: #fff !important;
}

.overlay-image img {
    cursor: pointer;
}

.desc-1 {
    border-radius: 20px;
}

.desc-2 {
    border-radius: 20px;
}

.desc-3 {
    border-radius: 20px;
}

.desc-4 {
    border-radius: 20px;
}

.desc-1 p {
    margin-bottom: 0px;
}

.desc-2 p {
    margin-bottom: 0px;
}

.desc-3 p {
    margin-bottom: 0px;
}

.desc-4 p {
    margin-bottom: 0px;
}

.mobile-icon img {
    /* margin-top: 30px;
    margin-left: -220px; */
    width: 100%;
    /* height: 100%; */
    object-fit: contain;
}

.Fifth_Section {
    padding-top: 100px;
    background: transparent url('./assests/Mask\ Group\ 47.png') 100% 0% no-repeat padding-box;
}

.ibeacon-headline {
    font-size: 28px;
    padding-top: 20px;
    font-weight: 600;
}

.ibeacon-headline_2 {
    font-size: 28px;
    font-weight: 600;
    padding-top: 20px;
}

.Product-1 {
    padding: 40px;
    background: #F8F8F8;
    text-align: center;
    border-radius: 14px;
    margin: 40px;
}

.Product-1 img,
.Product-2 img {
    width: 100%;
    object-fit: contain;
}

.Product-2 {
    padding: 40px;
    background: #F8F8F8;
    text-align: center;
    border-radius: 14px;
}

.ibeacon_peragraph {
    padding: 10px 4px;
    font-weight: 500;
}

.buy_now_btn {
    width: 156px;
    height: 56px;
    background: #52D1DC 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
    color: #fff;
    font-size: 20px;
    line-height: 39px;
    font-weight: 600;
}

.six_Section {
    margin-top: 70px;
}

.Frequently_Asked_Questions h5 {
    font-weight: 600;
}

.Frequently_Asked_Questions p {
    font-size: 15px;
}

.tellUs a {
    color: #52D1DC;
    text-decoration: none;
}

.More_Questions {
    line-height: 40px;
    font-weight: 600;
    font-size: 40px;
    padding: 0px 100px 0px 0px;
    width: 538px;
}

.Seven_Section {
    padding-bottom: 250px;
    background-color: #F8F8F8;
}

.mail_section a,
.mail_section span {
    color: #52D1DC;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
}

.Seven_Section_Social {
    padding-top: 40px;
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

.mail_section img {
    width: 36px;
}

.rightSection {
    /* padding-top: 90px; */
    display: flex;
    align-items: center;
}

.footer {
    background: #1F1F1F;
}

.footer_content {
    background: transparent url('./assests/footerBackground.png') 0% 0% no-repeat padding-box;
}

.footer-body {
    padding-top: 300px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
}

.footer-img {
    height: 70px;
}

.footer_menu {
    width: 100%;
    padding: 0;
    display: inline-flex;
}

ul li {
    text-decoration: none;
    list-style: none;
}

.footer_menu .nav-link {
    padding-top: 40px;
    color: #fff;
    font-size: 15px;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
}

.footer-body2 {
    border-bottom: 1px solid #fff;
    padding-bottom: 30px;
}

.CopyRight_Section {
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.overlaping_div {
    top: -54%;
    position: absolute;
    border-radius: 20px;
    background: transparent linear-gradient(118deg, #31A4B7 0%, #369CC1 54%, #425CC2 100%) 0% 0% no-repeat padding-box;
}

.overlaping_div_content {
    color: #fff;
}

.overlaping_div img {
    width: 100%;
    /* height: 100%; */
    object-fit: contain;
    max-height: 500px;
}

.overlaping_div_content h1 {
    padding: 100px 45px 0px;
    font-weight: 600;
}

.overlaping_div_content p {
    padding: 0px 45px 0px;
}

.app_download_btn {
    padding: 80px 25px 0px;
    display: flex;
}

.app_download_btn img {
    height: 50px;
    width: 200px;
    cursor: pointer;
}

.overlay {
    position: relative;
}


.overlay {
    background: url('./assests/Mask Group 43.png');
    background-position: center center;
    background-size: cover;
}

.overlay-image {
    height: 550px;
    background: transparent linear-gradient(105deg, #52D1DC 0%, #369CC1 54%, #31A4B7 100%) 0% 0% no-repeat padding-box;
    background-size: cover;
    background-position: center center;
    opacity: 0.7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.HeadPhone_image img {
    width: 100%;
    /* height: 100%; */
    object-fit: contain;
}


@media (min-width: 992px) and (max-width: 1280px) {


    .For_picture {
        min-height: 65vh;
    }

    /* .step_section {
        padding: 35px;
    } */

    .ibeacon-headline_2 {
        /* font-size: 28px; */
        font-weight: 600;
        padding-top: 41px;
    }

    /* .step-circle {
        width: 10%;
    } */
    .arrow-icon {
        margin-left: 60px;
    }

    .steps {
        display: block;
        padding: 0;
    }

    .Main_Content {
        padding-top: 100px;
        padding-left: 0px;
        color: #fff;
        font-size: 45px;
    }

    .rightMobileIcon img {
        padding-top: 100px;
    }

    .Main_Content p,
    .About_Main_Content p {
        font-size: 16px;
    }

    /* .About_Main_Content {
        font-size: 45px;
    } */

    .download_app_btn_About {
        padding-top: 30px;
    }

    .Unlock_Next_Level {
        font-size: 45px;
        font-weight: 500;
        padding-top: 85px;
        text-align: center;
    }


    .app_download_btn {
        padding: 24px 25px 30px;
        display: flex;
    }

}

@media only screen and (max-width: 991px) {


    .footer_content {
        background: transparent url('./assests/footerBackground.svg') 0% 100% no-repeat padding-box;
        background-size: 300px;

    }

    .overlay-image {
        height: 500px;
    }

    .For_picture {
        min-height: 55vh;
        background-size: 400px;
    }

    .arrow-icon {
        margin: auto;
    }

    #Frequently_Asked_Questions2 {
        padding-left: 30 !important;
    }

    #Frequently_Asked_Questions1 {
        padding-right: 0px !important;
    }

    .rightMobileIcon img {
        padding-top: 130px;
    }


    .rightMobileIcon2 img {
        padding: 0px !important;
        margin-left: -40px;
        margin: auto;
    }

    #mail_section {
        margin-left: 0px !important;
    }

    .Main_Content {
        padding-top: 90px;
        padding-left: 0px;
        color: #fff;
        font-size: 40px;
    }

    .Main_Content p {
        margin-top: 20px;
        font-size: 17px;
    }

    .download_app_btn a {
        background-color: #fff;
        color: #000;
        font-weight: 500;
        padding: 8px 24px;
        font-size: 17px;
        font-weight: 600;
    }

    .About_Main_Content {
        color: #1F1F39 !important;
        /* padding-right: 340px; */
        color: #fff;
        font-size: 40px;
        font-weight: 600;
    }

    .About_Main_Content p {
        font-size: 17px;
    }

    .download_app_btn_About a {
        font-weight: 500;
        width: 150px;
        font-size: 17px;
        font-weight: 600;
    }

    .step_section {
        /* padding: 25px; */
        padding: 40px 0px;
        background-size: 300px;
    }

    .Steps_Content {
        font-size: 16px;
    }

    .steps {
        display: block;
    }

    .steps p {
        margin-left: 40px !important;
    }

    .About_seocond {
        padding-top: 101px;
    }

    .Unlock_Next_Level {
        font-size: 40px;
    }


    .overlay-image img {
        width: 130px;
    }

    .app_download_btn {
        padding: 20px 15px 20px;
        display: flex;
    }

    .overlaping_div_content h1 {
        padding: 50px 45px 0px;
        font-weight: 600;
        font-size: 40px;
    }

    .app_download_btn img {
        height: 39px;
        margin-left: 5px;
    }

    .overlaping_div_content p {
        padding: 0px 0px 0px 25px;
    }

    .overlaping_div_content h1 {
        padding: 31px 0px 0px 25px;
        font-weight: 600;
        font-size: 38px;
    }

    .Seven_Section {
        padding-bottom: 170px;
        background-color: #F8F8F8;
    }

    .overlaping_div {
        top: -30%;
    }

    .More_Questions {
        line-height: 40px;
        font-weight: 600;
        font-size: 35px;
        padding: 0px 0px 0px 0px;
        width: auto;
    }

    .mail_section img {
        width: 34px;
    }

    .Seven_Section_Social {
        display: block;
        padding-top: 20px;
    }

    .mail_section {
        margin-top: 10px;
    }
}


@media only screen and (max-width: 767px) {

    .step-circle {
        width: 10%;
    }

    .arrow-icon {
        justify-content: center;
    }

    .rightMobileIcon img {
        padding-top: 80px;
        padding-bottom: 50px;
    }

    .rightMobileIcon2 img {
        padding: 0;
        margin: auto;
    }

    .main_heading {
        line-height: 45px;
    }

    .Main_Content {
        padding-top: 45px;
        padding-left: 0px;
        color: #fff;
        font-size: 35px;
        text-align: center;
    }

    .download_app_btn {
        padding: 0;
    }

    .leftKeeprPic {
        text-align: center;
        padding-top: 40px;
    }

    .Ultimate_Bluetooth_Finder {
        line-height: 45px;
        font-size: 35px;
    }

    .download_app_btn_About a {
        width: 180px;
    }

    .steps {
        display: flex;
        margin-bottom: 10px;
    }

    .steps p {
        margin-top: 0px !important;
        margin-left: 45px !important;
    }

    .Unlock_Next_Level {
        padding-top: 70px;
        font-size: 35px;
    }

    .step_section {
        padding: 72px 20px;
    }

    .overlay-image {
        height: 400px;
    }


    .overlay-image img {
        width: 100px;
    }

    .Fifth_Section {
        padding-top: 80px;
    }

    .More_Questions {
        padding: 20px 0px 0px 0px;
    }

    .Seven_Section_Social {
        text-align: justify;
        margin: auto;
        vertical-align: middle;
        display: inline-block;
    }

    .desc-1,
    .desc-2,
    .desc-3,
    .desc-3 {
        text-align: center;
    }


    .Frequently_Asked_Questions {
        text-align: center;
    }

    .Seven_Section {
        text-align: center;
    }

    .overlaping_div_content h1 {
        font-size: 32px;
    }

    .app_download_btn img {
        margin-left: -30px;
    }

    .overlaping_div {
        top: -70%;
    }

    .Seven_Section {
        padding-bottom: 330px;
    }

    .step_section {
        background-size: 340px;
    }

    .app_download_btn {
        padding: 0px 15px 0px 15px;
    }

    .arrow-icon img {
        vertical-align: middle;
        rotate: 90deg;
        height: 24px;
    }

    #Frequently_Asked_Questions1 {
        padding: 0px !important;
    }
}

@media only screen and (max-width: 500px) {

    .Product-1 {
        padding-bottom: 20px;
    }

    .overlaping_div {
        top: -58%;
    }

    .step_section {
        /* padding: 18px; */
        padding: 76px 0px;
    }

    .steps {
        display: block;
    }

    .arrow-icon {
        text-align: center;
    }

    .overlay-image img {
        width: 83px;
        left: 41%;
        top: 50%;
    }

    .step-circle {
        /* width: 15%; */
        height: 35px;
        border: 1px solid #fff;
        align-items: center;
        text-align: center;
        line-height: 32px;
        color: #fff;
        font-size: 20px;
        border-radius: 50%;
    }
}

.desc-1 {
    cursor: pointer;
}

.desc-2 {
    cursor: pointer;
}

.desc-3 {
    cursor: pointer;
}

.desc-4 {
    cursor: pointer;
}

.active,
.desc-1:hover {
    background-color: #31A4B7;
    color: white;
    transition: 0.2s;
}

.Price_Count {
    font-size: 25px;
    font-weight: 600;
}

.CopyRight_Section img {
    cursor: pointer;
}

#mail_section {
    margin-left: 21px;
}

.btn:focus {
    outline: 0;
    box-shadow: none !important;
}

@media only screen and (max-width: 575px) {
    .Copyright_Section {
        display: block;
        text-align: center;
    }

    .overlaping_div {
        top: -60%;
    }

    .footer_menu {
        display: block;
    }

    .steps p {
        margin-left: 33px !important;
    }

    .footer_menu {
        display: grid;
        grid-template-columns: 2fr 2fr 2fr;
    }

    .footer_content {
        background: transparent url(./assests/footerBackground.svg) 0% 0% no-repeat padding-box;
        background-size: 230px;
    }

    .Four_Section {
        background-size: 250px;
    }
}

.steps p {
    font-size: 14px;
    margin-left: 40px;
}

#Frequently_Asked_Questions2 {
    padding: 0px 0px 0px 90px;
}

#Frequently_Asked_Questions1 {
    padding: 0px 90px 0px 30px;
}

#Terms_And_Condition {
    padding-top: 100px;
}

#Terms_conditionn_footer {
    padding-top: 100px;
}

#Overlap-content {
    background: transparent url('./assests/Keepr-Back.svg') 0% 0% no-repeat padding-box;
    background-size: contain;
}

ol,
ul,
dl {
    padding-left: 0px !important;
}

#Terms_And_Condition_main {
    padding-left: 50px;
    padding-right: 50px;
}

.Youtube_Video {
    width: 100%;
    height: 450px;
}

.modal-header {
    border-bottom: 0px !important;
}

.close span {
    background: #fff;
}

.Heading_terms {
    color: #1F1F39 !important;
    /* padding-right: 340px; */
    color: #fff;
    font-size: 40px;
    font-weight: 600;
}

.navbar-collapse > ul{
    --bs-scroll-height: auto !important;
}
.navbar-collapse > ul > li{
    padding-top: 6px;
    padding-bottom: 6px;
}

@media (min-width: 768px) and (max-width: 1399px) {
    .section_seocond {
        height: 35em;
    }
    .app_download_btn img {
        width: 130px;
    }
}